<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm">
                <div class="profile">
                    <div class="user">
                        <div>
                            <span><i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i></span>
                        </div>
                        <div class="info-user">
                            <p class="text-right">{{user.username}}</p>
                            <p class="text-right">Points: {{user.points}}</p>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="openMenu()"><img class="icon-menu" src="./../../../assets/imgs/menu.svg" alt="Menu Icon"></button>
            </nav>
        </header>
        <main class="container-fluid">
            <!-- Boxes -->
            <section class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="box-container bronze">
                        <div class="box-title">
                            <div class="box-description">
                                <img src="./../../../assets/imgs/box.svg" alt="Box">
                                <div>
                                    <h3>Pokecards</h3>
                                    <p>Bronze Box</p>
                                </div>
                            </div>
                            <div>
                                <div class="box-info">?
                                    <div class="box-info-text">
                                        <p>Common: 44%</p>
                                        <p>Normal: 30%</p>
                                        <p>Rare: 18%</p>
                                        <p>Epic: 7%</p>
                                        <p>Legendary: 1%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" [disabled]="user.points < 100" (click)="buyBox(1)">Buy (100 points)</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="box-container silver">
                        <div class="box-title">
                            <div class="box-description">
                                <img src="./../../../assets/imgs/box.svg" alt="Box">
                                <div>
                                    <h3>Pokecards</h3>
                                    <p>Silver Box</p>
                                </div>
                            </div>
                            <div>
                                <div class="box-info">?
                                    <div class="box-info-text">
                                        <p>Common: 30%</p>
                                        <p>Normal: 32%</p>
                                        <p>Rare: 23%</p>
                                        <p>Epic: 12%</p>
                                        <p>Legendary: 3%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" [disabled]="user.points < 200" (click)="buyBox(2)">Buy (200 points)</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="box-container gold">
                        <div class="box-title">
                            <div class="box-description">
                                <img src="./../../../assets/imgs/box.svg" alt="Box">
                                <div>
                                    <h3>Pokecards</h3>
                                    <p>Golden Box</p>
                                </div>
                            </div>
                            <div>
                                <div class="box-info">?
                                    <div class="box-info-text">
                                        <p>Common: 17%</p>
                                        <p>Normal: 38%</p>
                                        <p>Rare: 25%</p>
                                        <p>Epic: 15%</p>
                                        <p>Legendary: 5%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" [disabled]="user.points < 300" (click)="buyBox(3)">Buy (300 points)</button>
                    </div>
                </div>
            </section>
        </main>
        <!-- Menu Modal -->
        <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1>MENU</h1>
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">X</button>
              </div>
              <div class="modal-body">
                <div class="modal-container">
                    <div class="option">
                        <a href="/pokedex"><img src="./../../../assets/imgs/pokedex.png" alt="Pokedex"></a>
                        <p>Pokedex</p>
                    </div>
                    <div class="option">
                        <a href="/combat"><img src="./../../../assets/imgs/combat.png" alt="Combat"></a>
                        <p>Combat</p>
                    </div>
                    <div class="option">
                        <a href="/exchange"><img src="./../../../assets/imgs/exchange.png" alt="Exchange"></a>
                        <p>Exchanges</p>
                    </div>
                    <div class="option">
                        <a (click)="logout()" href="/login"><img src="./../../../assets/imgs/logout.png" alt="Logout"></a>
                        <p>Logout</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Box Modal -->
        <div class="modal fade" id="boxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h1>Random Card</h1>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                  <div class="modal-container">
                    <div class="card-container">
                        <div [ngStyle]="{'border': '5px solid ' + (card.rarities.color)}" class="card-rarity pokemon-rarity">
                            <div class="card-info">
                                <p class="font-card pokemon-name">{{card.name}}</p>
                                <p class="font-card pokemon-id" *ngIf="card.id < 10">#00{{card.id}}</p>
                                <p class="font-card pokemon-id" *ngIf="card.id >= 10 && card.id < 100">#0{{card.id}}</p>
                                <p class="font-card pokemon-id" *ngIf="card.id >= 100">#{{card.id}}</p>
                            </div>
                            <div class="card-img">
                                <img class="pokemon-img" src="{{card.image}}" alt="{{card.name}}">
                            </div>
                            <div class="card-types">
                                <p [ngStyle]="{'background-color': (card.primaryType.color)}" class="font-card pokemon-primary-type">{{card.primaryType.name}}</p>
                                <p [ngStyle]="{'background-color': (card.secondaryType.color)}" *ngIf="card.secondaryType != null" class="font-card pokemon-secondary-type">{{card.secondaryType.name}}</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>