body {
    font-family: Arial, sans-serif;
    background-image: url('https://w0.peakpx.com/wallpaper/2/445/HD-wallpaper-pokemon-mix-3-dragon-moon-pokemix-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
.container h2 {
    margin-bottom: 20px;
}
.container input[type="text"], .container input[type="password"], .container input[type="email"], .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.container input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #45a049;
}
.container .signin {
    margin-top: 15px;
    font-size: 14px;
}
.container .signin a {
    color: #007bff;
    text-decoration: none;
}